.jumbotron {
    background-color: lightyellow;
    color: black;
    margin-top: 30px;
    height: auto;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: gold;
    margin-bottom: 0;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200;
    margin-top: 10px;
    margin-left: 2px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;

}

.tab-content{
	padding-top:10px;
}