$yellow: #f2b713;
$red: #a30707;
$crema: #ffeed4;
$blue: #035173;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(30px,10px);
    height: auto;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: $crema;
    @include margenes(10px,0px);
}

.card-hotel {
    flex: 1 200;
    @include margenes(10px,2px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
