@yellow: #f2b713;
@crema: #ffeed4;


.jumbotron {
    background-color: @yellow;
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
    height: auto;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: @crema;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-hotel {
    flex: 1 200;
    margin-top: 10px;
    margin-bottom: 2px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
